@import "src/js/theme/variables";

.heading {
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: bold;
  }

  .content {
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 600;
  }

  .label {
    text-align: left;
    word-break: break-all;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: $fontFamily;
    display: flex;
    color: #164363;
  }

  .headerStyle{
    align-items: baseline;
    margin-bottom: 25px;
    padding-bottom: 0px !important;
  }

  .headerLable{
    margin-bottom: 12px !important;
  }
