$primaryColor: #5064E2;
$secondaryColor: #E8003C;
$fontFamily: "Open Sans", sans-serif;
$textFontSize: 14px;
$textLineHeight: 17px;
$textColor: #707070;

$titleFontSize: 18px;
$titleLineHeight: 22px;
$titleColor:#000000;
$titleFontFamily: "Open Sans", sans-serif;
$titleFontWeight: bold;

$headerFontSize: 35px;

$labelColor: #5F6368;
$inputColor: #202124;

$blackColor: #212529;

// letter spacing
$l_1: -1.5;
$l_2: -0.5;
$l_3: 0;
$l_4: 0.1;
$l_5: 0.15;
$l_6: 0.25;
$l_7: 0.4;
$l_8: 0.5;
$l_9: 1.5;
$l_10: 1.25;

// font case
$f_case_sentence: initial;
$f_case_capital: capitalize;

// font size
$fs_96: 96px;
$fs_60: 60px;
$fs_48: 48px;
$fs_34: 34px;
$fs_24: 24px;
$fs_20: 20px;
$fs_16: 16px;
$fs_18: 18px;
$fs_14: 14px;
$fs_12: 12px;
$fs_10: 10px;

// font weight
$f_weight_light: 400;
$f_weight_regular: 600;
$f_weight_medium: 600;
