.marginContainer {
  width: auto;
  margin: 0px 24px 30px 24px !important;
}

.searchBtnContainer {
  align-self: flex-end;
}
//@media (min-width: 1280px) {
//  .searchBtnContainer {
//    margin-top: 0 !important;
//  }
//}
