@import 'app/theme/variables.scss';

.radioGroup {
  flex-direction: row !important;
  font-family: $fontFamily;
}
.label {
  color: #000000 !important;
  text-align: left;
  word-break: break-all;
  padding: 4px 0;
  font-family: $fontFamily;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px;
  color: #164363 !important;
}
.input {
  letter-spacing: 0 !important;
  opacity: 1 !important;
  font-size: 17px !important;
}