.hideSection{
    font-weight: 400;
    font-size: 14px;
    // font-family: Rubik;
    color: #3B3B3B;
    line-height: 17px;
}

.hideBtn{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
}

// .hiddenBtn{
//     padding: 2px 57px;
// }
