@import 'src/js/theme/variables';

.cancelButtonStyle {
  margin: 5px !important;
}

.updateButtonStyle {
  margin: 5px !important;
}

.formLabelStyle {
  margin: 5px !important
}

.sectionVisiblity {
  //border: 1px solid #3B3B3B;
  border-radius: 4px;
  width: fit-content;
  padding: 1px 7px;
  background: #6FCF97;
}
.sectionHidden {
  border-radius: 4px;
  width: fit-content;
  padding: 1px 7px;
  background: #E0E0E0;
}
.sectionName {
  font-weight: bold;
}
.sectionUpdateTime {
  color: #898989;
  font-size: 0.9rem;
}

.stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 99;
}

.bgWhite {
  background: #fff;
}
