@import "src/js/theme/variables";

.tableStyle {
  // width: 100%;
  margin: 0 16px !important;
}

.tableHeading {
  // text-align: center;
  font-size: $headerFontSize !important;
  font-weight: $titleFontWeight;
  width: 100%;
  padding-bottom: 1%;
  color: $titleColor;
  margin: 16px !important;
}

.wrapper {
  font-family: $fontFamily;
  background-color: white;
}

.filterWrapper {
  padding: 1% 2.4% 3%;
}

.filter {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #647C91;
}
