.container {
    padding: 0 30px;
}
.headerStyle {
    text-align: center;
    font-size: 25px !important;
    line-height: 24px !important;
    font-weight: Bold !important;
    // font-family: Rubik, serif !important;
    letter-spacing: 0;
    color: #164363;
    opacity: 1;
}
.formLabelStyle {
  margin: 20px 0 !important;
}
