@import "app/theme/variables.scss";

.container {
  margin: 2% 0 4%;
  position: relative;
  outline: none;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.select {
  display: flex;
  width: 163px;
  height: 42px;
  background-color: #4754d6;
  color: white;
  // font-family: Rubik;
  font-size: 14px;
  border-radius: 21px;
  padding: 1%;
  justify-content: space-around;
  align-items: center;
}

.nameList {
  width: 164px;
  box-shadow: 0px 11px 19px #0000000f;
  border: 1px solid #d1d7e558;
  position: absolute;
  background-color: white;
  top: 61px;
  left: 26px;
  z-index: 1;
  padding: 1% 0;
  max-height: 150px;
  overflow-y: auto;
}

.names {
  padding: 9%;
  // font-family: Rubik;
  font-size: 14px;
  color: #647c91;
}