@import 'src/js/theme/variables';

.formLabelStyle {
  margin: 20px 0 !important;
}
.form {
  margin: 0 auto;
  width: 100%;
}
.buttonStyle {
  padding: 7% 0 3%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.headerStyle {
  font-size: 25px !important;
  line-height: 24px !important;
  font-weight: Bold !important;
  font-family: $fontFamily !important;
  letter-spacing: 0;
  color: #164363;
  opacity: 1;
}
.label {
  text-align: left;
  word-break: break-all;
  padding: 4px 0 16px;
  font-weight: 400;
  font-family: $fontFamily;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #164363;
}
